@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
</head>
<body>
    <div>
        <form>
            <input />TenDN
            <input />MK
        </form>
    </div>
</body>
</html>
